<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ctrlUsuario</servlet-name>
        <servlet-class>Controlador.ctrlUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlPedido</servlet-name>
        <servlet-class>Controlador.ctrlPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlBebidas</servlet-name>
        <servlet-class>Controlador.ctrlBebidas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>Controlador.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba</servlet-name>
        <servlet-class>Controlador.Prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlBebida</servlet-name>
        <servlet-class>Controlador.ctrlBebida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ctrlUsuario</servlet-name>
        <url-pattern>/ctrlUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlPedido</servlet-name>
        <url-pattern>/ctrlPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlBebidas</servlet-name>
        <url-pattern>/ctrlBebidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlBebida</servlet-name>
        <url-pattern>/ctrlBebida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
